In [36]:
#!pip install pandas

In [8]:
#Importing libraries
import json
import pandas as pd

In [3]:
#Reading data from json file
with open('sample.json', 'r') as openfile:
  
    # Reading from json file
    json_object = json.load(openfile)
    
print(json_object)
print(type(json_object))

{'Gender': ['Male', 'Male', 'Male', 'Female', 'Female', 'Female'], 'HeightCm': [171, 161, 180, 166, 150, 167], 'WeightKg': [96, 85, 77, 62, 70, 82]}
<class 'dict'>

In [9]:
#Converting json_object to dataframe
df = pd.DataFrame(json_object)

In [10]:
df.head(5)

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70

In [11]:
#Changing height from cm to meters and squaring it
df['HeightM2'] = (df['HeightCm']/100)**2

In [13]:
#Calculating BMI
df['BMI'] = df['WeightKg']/df['HeightM2']

In [14]:
df.head()

   Gender  HeightCm  WeightKg  HeightM2        BMI
0    Male       171        96    2.9241  32.830615
1    Male       161        85    2.5921  32.791945
2    Male       180        77    3.2400  23.765432
3  Female       166        62    2.7556  22.499637
4  Female       150        70    2.2500  31.111111

In [23]:
#Bringing the BMI category information
stand = {
            'BMI_category': ['Underweight','Normal','Overweight','Moderately','Severely','Very'],
            'BMI_Range_low_limit':[0, 18.5, 25, 30, 35, 40],
            'BMI_Range_high_limit':[18.4, 24.9, 29.9, 34.9, 39.9,1000000000],
            'Health_Risk' : ['Malnutrition risk', 'Low risk', 'Enhanced risk', 'Medium risk', 'High risk','Very high risk']
            
}


df_stand = pd.DataFrame(stand) # Changing the dictionary to dataframe

In [24]:
df_stand.head(5)

  BMI_category  BMI_Range_low_limit  BMI_Range_high_limit        Health_Risk
0  Underweight                  0.0                  18.4  Malnutrition risk
1       Normal                 18.5                  24.9           Low risk
2   Overweight                 25.0                  29.9      Enhanced risk
3   Moderately                 30.0                  34.9        Medium risk
4     Severely                 35.0                  39.9          High risk

In [25]:
df1 = pd.merge(df, df_stand,how='cross') #Cross joining both the tables to find BMI_category and Health_risk

In [27]:
df1.head(10)

,Gender,HeightCm,WeightKg,HeightM2,BMI,BMI_category,BMI_Range_low_limit,BMI_Range_high_limit,Health_Risk
0,Male,171,96,2.9241,32.830615,Underweight,0.0,1.840000e+01,Malnutrition risk
1,Male,171,96,2.9241,32.830615,Normal,18.5,2.490000e+01,Low risk
2,Male,171,96,2.9241,32.830615,Overweight,25.0,2.990000e+01,Enhanced risk
3,Male,171,96,2.9241,32.830615,Moderately,30.0,3.490000e+01,Medium risk
4,Male,171,96,2.9241,32.830615,Severely,35.0,3.990000e+01,High risk
5,Male,171,96,2.9241,32.830615,Very,40.0,1.000000e+09,Very high risk
6,Male,161,85,2.5921,32.791945,Underweight,0.0,1.840000e+01,Malnutrition risk
7,Male,161,85,2.5921,32.791945,Normal,18.5,2.490000e+01,Low risk
8,Male,161,85,2.5921,32.791945,Overweight,25.0,2.990000e+01,Enhanced risk
9,Male,161,85,2.5921,32.791945,Moderately,30.0,3.490000e+01,Medium risk

In [30]:
#Filtering rows as per the range values
df2 = df1[(df1.BMI >= df1.BMI_Range_low_limit) & (df1.BMI <= df1.BMI_Range_high_limit)]

In [31]:
df2.head(10)

,Gender,HeightCm,WeightKg,HeightM2,BMI,BMI_category,BMI_Range_low_limit,BMI_Range_high_limit,Health_Risk
3,Male,171,96,2.9241,32.830615,Moderately,30.0,34.9,Medium risk
9,Male,161,85,2.5921,32.791945,Moderately,30.0,34.9,Medium risk
13,Male,180,77,3.2400,23.765432,Normal,18.5,24.9,Low risk
19,Female,166,62,2.7556,22.499637,Normal,18.5,24.9,Low risk
27,Female,150,70,2.2500,31.111111,Moderately,30.0,34.9,Medium risk
32,Female,167,82,2.7889,29.402273,Overweight,25.0,29.9,Enhanced risk

In [32]:
#Dropping extra columns
df3 = df2.drop(['BMI_Range_low_limit','BMI_Range_high_limit'], axis =1)

In [33]:
df3.head()

    Gender  HeightCm  WeightKg  HeightM2        BMI BMI_category  Health_Risk
3     Male       171        96    2.9241  32.830615   Moderately  Medium risk
9     Male       161        85    2.5921  32.791945   Moderately  Medium risk
13    Male       180        77    3.2400  23.765432       Normal     Low risk
19  Female       166        62    2.7556  22.499637       Normal     Low risk
27  Female       150        70    2.2500  31.111111   Moderately  Medium risk

In [35]:
#One person is overweight
df4 = df3.groupby(['BMI_category']).size()
df4.head()

BMI_category
Moderately    3
Normal        2
Overweight    1
dtype: int64